* {
    margin: 0;
    box-sizing: border-box;
}


.parallax__stage {
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .parallax__layer--1,
  .parallax__layer--2,
  .parallax__layer--3 {
      margin-top: 600px;
  }

  .parallax__layer--0 {
      transform: translateZ(-1px) scale(1.5);
  }
  .parallax__layer--1 {
      transform: translateZ(-2px) scale(2);
  }
  .parallax__layer--2 {
      transform: translateZ(-3px) scale(2.5);
  }
  .parallax__layer--3 {
      transform: translateZ(-4px) scale(3);
  }


.parallax__stage {
    perspective: 2px;
  }

