@font-face {
    font-family: "work-sans";
    src: url(../project-intermediate-form/font/work-sans.ttf);
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "work-sans", sans-serif;
    color: #e6e6e6;
    line-height: 1.7;
}


.parallax__stage {
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .parallax__layer--1,
  .parallax__layer--2,
  .parallax__layer--3 {
      margin-top: 80vh;
  }

  .parallax__layer--0 {
      transform: translateZ(-1px) scale(1.5);
  }
  .parallax__layer--1 {
      transform: translateZ(-2px) scale(2);
  }
  .parallax__layer--2 {
      transform: translateZ(-3px) scale(2.5);
  }
  .parallax__layer--3 {
      transform: translateZ(-4px) scale(3);
  }

.parallax__stage {
    perspective: 2px;
  }


.content {
    position: relative;
    width: 100%;
    background-color: black;
    margin-top: 120vh;
}

.hero-text {
    max-width: 70ch;
    margin: 0 auto 0;
}
.quote {
    text-align: center;
    font-weight: bold;
    color: white;
}

.quote-author {
    text-align: end;
    font-style: italic;
    
}

.welcome {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: max(30%, 600px);
    margin: 80px auto 0px;
    border-radius: 15px;
    padding: 40px;
    background-color: #0d0d0d;
    border: 1px solid grey;
    justify-content: center;
    gap: 20px;

}

.names {
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.first,
.last,
.email,
.number,
.drugs {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    border-radius: 10px;
    color: black;
}
input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-left: 6px;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    font-weight: bold;
}
textarea {
    border-radius: 12px;
    margin-top: 10px;
    padding: 6px;
}

button {
    margin-top: -10px;
    color: black;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

button:hover {
    background-color: #222;
    color: white;
    cursor: pointer;
}
button:active {
    background-color: #000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 80px;
    background-color: black;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gitLogo {
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 6px;
}